a { color: #8decf3; }
a, a:hover, a:focus { text-decoration: none !important; }
a:hover, a:focus { color: #50b5bc !important; }

body {
  color: #8decf3;
  background-color: #131e1f;
  font-family: 'Poppins', sans-serif;
}

/* atoms */
.mr90 { margin-right: 90px !important; }
.mb25 { margin-bottom: 25px !important; }
.w80 { width: 80% !important; }
.fs14 { font-size: 14px !important; }
.fs30 { font-size: 30px !important; }
.tal { text-align: left !important; }
.center { margin: 0 auto !important; }
.flex-di { display: flex !important; }
.flex-row { flex-direction: row !important; }
.flex-jc { justify-content: center !important; }
.flex-jl { justify-content: left !important; }

.dn4 { transform: translateY(4px); }

.black1 { color: #131e1f !important; }
.lightblue1 { color: #8decf3 !important; }
.red1 { color: #a6626c !important; }
.red2 { color: #802b38 !important; }
.green1 { color: #5cb466 !important; }
.green2 { color: #33953f !important; }
.orange1 { color: #c9a93f !important; }
.yellow1 { color: #b6ca34 !important; }

/* typography */

.text-glow {
  text-shadow: 0 0 1px #50b5bc, 0 0 1px #50b5bc, 0 0 1px #50b5bc
}
.text-glow-green {
  text-shadow: 0 0 1px #33953f, 0 0 1px #33953f, 0 0 1px #33953f
}
.text-glow-red {
  text-shadow: 0 0 1px #802b38, 0 0 1px #802b38, 0 0 1px #802b38
}

.h5 {
  font-size: 12px;
}

.truncate {
  width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stock-up {
  color: #6ebd77;
}

.stock-down {
  color: #a6626c;
}

.time-till-bus {
  color: #8decf3;
}

/* crt effect */

/*@keyframes flicker {
  0% {
    opacity: 0.93608;
  }
  5% {
    opacity: 0.02054;
  }
  10% {
    opacity: 0.11041;
  }
  15% {
    opacity: 0.84934;
  }
  20% {
    opacity: 0.77012;
  }
  25% {
    opacity: 0.63578;
  }
  30% {
    opacity: 0.87726;
  }
  35% {
    opacity: 0.5737;
  }
  40% {
    opacity: 0.41847;
  }
  45% {
    opacity: 0.18113;
  }
  50% {
    opacity: 0.62717;
  }
  55% {
    opacity: 0.29223;
  }
  60% {
    opacity: 0.30873;
  }
  65% {
    opacity: 0.44209;
  }
  70% {
    opacity: 0.82906;
  }
  75% {
    opacity: 0.5385;
  }
  80% {
    opacity: 0.27103;
  }
  85% {
    opacity: 0.14439;
  }
  90% {
    opacity: 0.70803;
  }
  95% {
    opacity: 0.15143;
  }
  100% {
    opacity: 0.80743;
  }
}*/
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.container::after {
  animation: flicker 0.15s infinite;
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}

.container > .screen {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}
